<div class="container-fluid addproject overflow-auto ml-3 mt-5 mb-5 mr-3 border border-primary border-size-1">
    <form name="addProjectForm"(ngSubmit)="createProject()" #pmpf="ngForm">
    <div class="form-group row overflow-auto overflow-wrap:break-word  mt-2 mb-2 mr-3" >
        <div class="field1 col-sm-3 border border-dark border-size-1">
            <font size="4" color="blue" class="mt-1 mb-1"><b>Project :</b></font>
        </div>
        <div class="col-sm-7 border border-primary border-size-1 ml-2 mr-3">
            <input type="text" id="projectfield" name="projectfield" form-control required ngModel #projectfield="ngModel" 
            [(ngModel)]="project.projectnm" placeholder="Enter Project Name..." class="fieldValue1 form-control-plaintext text-black ">
        </div>
    </div>
    <div class="row-sm">
        <span class="help-block text-danger text-center ml-2" *ngIf="!projectfield.valid && projectfield.touched">Project Name is Mandatory</span>
    </div>
    <div class="form-group row overflow-auto overflow-wrap:break-word  mt-2 mb-2 mr-3" >
        <div class="checkbox col-sm">
            <input type="checkbox" name="setDate" (click)="setDates()"> Set Start and End Date
        </div>
        <div class="col-sm">
            <input type="dateType" [disabled]="datesDisabled" id="startdatefield" name="startdatefield"
             class="fieldValue2 " [(ngModel)]="project.startdate" required>
        </div>
    
        <div class="col-sm">
            <input type="dateType" [disabled]="datesDisabled" id="enddatefield" name="enddatefield"
             class="fieldValue3" [(ngModel)]="project.enddate" required>
        </div>
    </div>
    <div class="form-group row overflow-auto overflow-wrap:break-word  mt-2 mb-2 mr-3" >
        <div class="field1 col-sm-3 border border-dark border-size-0">
            <font size="4" color="blue" class="mt-1 mb-1"><b>Priority :</b></font>
        </div>
        <div class="col-sm-1">
            <span class="font-weight-bold indigo-text mt-1">0</span>    
        </div>
        <div class="col-sm">
            <input type="range" name="rangefield" class="custom-range mt-1" [(ngModel)]="project.priority" min="0" max="30" id="rangefield" value="0" oninput>
        </div>
        <div class="col-sm-1">
            <span class="font-weight-bold indigo-text mt-1">30</span>
        </div>
    </div>
    <div class="row-sm">
        <font size="4" color="blue" class="mt-1 mb-1"><b>Selected Priority: {{project.priority}}</b></font>
    </div>
    <div class="form-group row overflow-auto overflow-wrap:break-word  mt-2 mb-2 mr-3" >
        <div class="field1 col-sm-3 border border-dark border-size-1">
            <font size="4" color="blue" class="mt-1 mb-1"><b>Manager :</b></font>
        </div>
        <div class="col-sm-6 border border-primary border-size-1 ml-2 mr-3">
            <input type="text" id="managerfield" name="managerfield" form-control required ngModel #managerfield="ngModel" 
            [(ngModel)]="searchValue" placeholder="Enter Project Name..." class="fieldValue1 form-control-plaintext text-black ">
        </div>
        <div class="col-sm">
            <button type="button" name="searchbtn" class="p-1 btn btn-dark btn-sm text-white float-left" (click)="searchUser()"> Search </button>
        </div>
    </div>
    <div class="form-group row-sm" >
        <font size="4" color="blue" class="mt-1 mb-1"><b>Selected Manager Name :{{managerDetail}}</b></font>
    </div>
    <div class="row-sm">
        <span class="help-block text-danger text-center ml-2" *ngIf="!managerfield.valid && managerfield.touched">Manager detail is Mandatory</span>
    </div>
    <div class="form-group container-fluid buttons1 row pt-1 mb-2 mr-3">
        <div class="col-sm-6">
            <button type="button" name="add" class="p-1 btn btn-primary btn-sm text-white float-right" [hidden]="isEdit" type="submit" [disabled]="!pmpf.valid"><i class="fas fa-plus"></i> ADD </button>
            <button type="button" name="update" class="p-1 btn btn-primary btn-sm text-white float-right" [hidden]="!isEdit" type="button" [disabled]="!pmpf.valid" (click)="updateProject(project)"><i class="fas fa-plus"></i> UPDATE </button>
        </div>
        <div class="col-sm-2">
            <button type="reset" class="p-1 btn btn-danger btn-sm text-white float-right"><i class="fas fa-refresh" (click)="onReset()"></i> RESET </button>
        </div>
    </div>
    </form>
</div>
<div class="container-fluid addproject overflow-auto ml-3 mt-2 mb-5 mr-3 border border-primary border-size-1">

    <div class="row overflow-auto overflow-wrap:break-word  mt-2 mb-2 mr-3" >
        <div class="col-sm-7 border border-primary border-size-1 ml-2 mr-2">
            <input type="text" placeholder="Search Project..." class="fieldValue1 form-control-plaintext text-black " [(ngModel)]="projSearchValue">
        </div>
        <div class="col-sm-2">
            <button type="button" class="p-1 btn btn-dark btn-sm text-white float-left" (click)="searchProject()"> Search By Project </button>
        </div>
    </div>
    <div class="container-fluid buttons1 row pt-1 mb-2 mr-3">
        <div class="col-sm-2 ">
            <font size="3" color="blue" class="mt-1 mb-1"><b>Sort By :</b></font>
        </div>
        <div class="col-sm-2">
            <button type="button" class="p-1 btn btn-dark btn-sm text-white float-left" (click)="sortByStartDate()"> StartDate </button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="p-1 btn btn-dark btn-sm text-white float-left" (click)="sortByEndDate()"> EndDate </button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="p-1 btn btn-dark btn-sm text-white float-left" (click)="sortByPriority()"> Priority </button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="p-1 btn btn-dark btn-sm text-white float-left" (click)="sortByCompletedTasks()"> Completed </button>
        </div>
    </div>
    <div class="row overflow-auto overflow-wrap:break-word  mt-2 mr-3 " >
        <div class="col-sm-3 border border-dark border-size-1">
            <font size="2"><b>Project</b></font>
        </div>
        <div class="col-sm-1 border border-dark border-size-1">
            <font size="2"><b>Start Date</b></font>
        </div>
        <div class="col-sm-1 border border-dark border-size-1 ">
            <font size="2"><b>End Date</b></font>
        </div>
        <div class="col-sm-2 border border-dark border-size-1 ">
            <font size="2"><b>No. Of Tasks</b></font>
        </div>
        <div class="col-sm-2 border border-dark border-size-1">
            <font size="2"><b>Completed</b></font>
        </div>
        <div class="col-sm-1 border border-dark border-size-1">
            <font size="2"><b>Priority</b></font>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
        </div>
    </div> 
    <div class="row mr-3 " *ngFor="let project of projects">
        <div class="col-sm-3 border border-right-dark border-size-1">
            <font size="2">{{project.projectnm}}</font>
        </div>
        <div class="col-sm-1 border border-right-dark border-size-1">
            <font size="2">{{project.startdate}}</font>
        </div>
        <div class="col-sm-1 border border-right-dark border-size-1">
            <font size="2">{{project.enddate}}</font>
        </div>
        <div class="col-sm-2 border border-right-dark border-size-1">
            <font size="2">{{project.noOfTask}}</font>
        </div>
        <div class="col-sm-2 border border-right-dark border-size-1 float-left">
            <font size="2">{{project.nofCompTask}}</font>
        </div>
        <div class="col-sm-1 border border-right-dark border-size-1">
            <font size="2">{{project.priority}}</font>
        </div>
        <div class="col-sm-1">
            <button type="button" class="p-1 btn btn-primary btn-sm text-white float-right"  (click)="getProject(project)"> Update </button>
        </div>
        <div class="col-sm-1 ">
            <button type="button" class="p-1 btn btn-primary btn-sm text-white float-right" (click)="deleteProject(project)"> Suspend </button>
        </div>
</div>

